.App,
.QueryBuilder {
  height: 100%;
}

.SearchBar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.SearchBar {
  background-color: #eee;
  padding: 20px;
}

.Query {
  width: 600px;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.QueryForm {
  width: 500px;
  display: flex;
  justify-content: space-between;
}

.Response {
  display: flex;
  width: 600px;
}
