.App,
.QueryBuilder {
  height: 100%;
}

.SearchBar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.SearchBar {
  height: 100px;
  background-color: #eee;
}

.QueryForm {
  width: 600px;
  display: flex;
  justify-content: space-between;
}

.Response {
  display: flex;
}

.DataStore,
.QueryResponse {
  width: 50%;
  padding: 20px;
}
