.App,
.QueryBuilder {
  height: 100%;
}

.TopNav,
.QueryString {
  border-bottom: 1px solid #bdbdbd;
}

.QueryResponseEntry {
  border-bottom: 1px solid #e0e0e0;
}

.TopNav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.QueryString {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.AddFilterBtn {
  border: none;
  background: none;
  color: #2196f3;
  cursor: pointer;
}

.SearchBar {
  width: 600px;
  padding: 20px;
}

.Actions {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Query,
.QueryResponseEntryContent {
  display: flex;
  justify-content: space-between;
}

.Query {
  width: 600px;
  padding: 5px;
}

.QueryForm {
  width: 500px;
  display: flex;
  justify-content: space-between;
}

.QueryStringResponse {
  display: flex;
}

.QueryResponseEntry {
  font-size: 12px;
  padding: 10px;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.QueryResponseEntryContent {
  width: 600px;
}

.CompanyName {
  display: flex;
  align-items: center;
}

.CompanyHighlights {
  display: flex;
}

.Highlight {
  background-color: #f8bbd0;
  border-radius: 20px;
  padding: 10px;
  margin: 5px;
}
